.hari-pancasila,
.hari-pancasila * {
  box-sizing: border-box;
}
.hari-pancasila {
  background: #ffffff;
  width: 1080px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.vecteezy-garuda-pancasila-logo-of-indonesia-vector-illustration-9767143-1 {
  width: 191px;
  height: 208px;
  position: absolute;
  left: 444px;
  top: 42px;
}
.rectangle-33 {
  background: #eb4c4c;
  border-radius: 53px;
  width: 667px;
  height: 299px;
  position: absolute;
  left: 206px;
  top: 279px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
._1-ketuhanan-yang-maha-esa-2-kemanusiaan-yang-adil-dan-beradab-3-persatuan-indonesia-4-kerakyatan-yang-dipimpin-oleh-hikmat-kebijaksanaan-dalam-permusyawaratan-perwakilan-5-keadilan-sosial-bagi-seluruh-rakyat-indonesia {
  color: #ffffff;
  text-align: left;
  font: 400 25px "Roboto", sans-serif;
  position: absolute;
  left: 241px;
  top: 316px;
  width: 600px;
  height: 249px;
}
.rectangle-34 {
  background: #eb4d4d;
  width: 1080px;
  height: 176px;
  position: absolute;
  left: 0px;
  top: 904px;
}
.gunungan-sic-new-9 {
  width: 187px;
  height: 182px;
  position: absolute;
  left: 507px;
  top: 898px;
}
.k-1-p-6 {
  width: 314px;
  height: 110px;
  position: absolute;
  left: 728px;
  top: 946px;
}
.selamat-hari-lahir-pancasila-1-juni-2023 {
  color: #fdf1f1;
  text-align: center;
  font: 800 33px "Roboto", sans-serif;
  position: absolute;
  left: 59px;
  top: 921px;
  width: 429px;
  height: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
}
